<%provide(:title, "about")%>

<div class="content-box main-img">
	<div class="page-info-tag"><span>About Us</span></div>
    <div class="overlay"></div>
    <img src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/about.jpeg">
</div>
<div class="content-box">
	<h3>Every company has a story. Here's ours...</h3>
	<p>Washington J. Sanchez &amp; Associates, LLC is a professional firm dedicated to providing tax preparation, accounting, and consulting services for individuals and small businesses. Since the inception of our firm we have had the pleasure of serving and continuing to learn about our customers. Our goal is to serve the community with integrity, brainpower, and confidence. </p>

	<h4>Javier Sanchez, Founder</h4>
	<p>Javier Sanchez, founder managing partner of Washington
			J. Sanchez &amp; Associates, LLC, received his Bachelor
			degree of Science in Accounting from Kean University. He
			began his career getting experience working along with
			numerous CPA’s firm in the State of New Jersey as well as
			the State of New York.
		</p><br>
		<p>As managing partner, Javier is developing his experience
			by solving general accounting issues related with daily
			businesses situations. Besides, He also has substantial
			experience in operating a rapidly growing medium size
			businesses.  Javier is seeking for excellence and his goal
			is intensively focused to solve individual as well as
			business owner financial debts.
		</p><br>
		<p>Javier has experience in assistant “Start –up” businesses
			with nowadays rapidly technology improvements, general
			inter-companies transactions and financial issues.
			Currently, Javier is affiliated with other CPAs firms
			conducting independent audit for non-for-profit organization
			in the State of New York and New Jersey.
		</p><br>
		<p>Javier is fluent in both languages English and Spanish. He
			is always looking to offer the best to his clients and is
			constantly seeking for knowledge, strategies and
			techniques that help client’s needs.
		</p>
		<h4>Elisabeth Sanchez, Manager</h4>
		<p>Elisabeth Sanchez, received her Bachelor degree of
			Science &dash; Computer Science, with second major in
			accounting from Jersey City State University. 
			Certified with Banking and Insurance.  Elisabeth has
			joined Washington J Sanchez &amp; Associates, LLC., in 2005
			and is currently in charge of managing full charge
			accounting clients, quality control and technical assistance
			for the firm.</p><br>
		<p>Elisabeth also is a managing partner for our technical
			support clients, Elisabeth is developing her experience in
			the networking area and performs a remarkable technique
			in troubleshooting technical issues.</p><br>
		<p>She is fluent in both languages English and Spanish. She
			is always looking to offer the best to her clients and is
			constantly seeking for knowledge, strategies and
			techniques that help client’s needs.</p>
</div>

