<%provide(:title, "about")%>

<div class="header-img" style="background: url('https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/about.jpeg') no-repeat center;background-size:cover">
    <div class="overlay"></div>
    <div class="page-info-tag"><span>About Us</span></div>
</div>
<div class="content-box about">
	<h3>Every company has a story. Here's ours...</h3>
	<p>Washington J. Sanchez &amp; Associates, LLC is a professional firm dedicated to providing tax preparation, accounting, and consulting services for individuals and small businesses. Since the inception of our firm we have had the pleasure of serving and continuing to learn about our customers. Our goal is to serve the community with integrity, brainpower, and confidence. </p>

	<h4>Javier Sanchez, Founder</h4>
	   <p>	Javier Sanchez, founder and managing partner of Washington
			J. Sanchez &amp; Associates, LLC, received his Bachelor
			degree of Science in Accounting from Kean University. He
			began his career getting experience working along with
			numerous CPA firms in New Jersey and New York.
		</p><br>
		<p>As managing partner, Javier is well-versed in solving
			general accounting issues related with daily
			business situations. He also has substantial
			experience in operating rapidly growing medium sized
			businesses.  Javier strives to help his community, and aims 
			to help solve individual as well as business owner financial debts.
		</p><br>
		<p>Javier has experience in assisting startup businesses, general
			intercompany transactions and financial issues.
			Currently, Javier is affiliated with other CPA firms
			conducting independent audit for non-for-profit organizations
			in New York and New Jersey.
		</p><br>
		<p>Javier is fluent in English and Spanish. He
			is always looking to offer the best to his clients, and is
			constantly seeking knowledge, strategies and
			techniques to help the client’s needs.
		</p>
		<h4>Elisabeth Sanchez, Manager</h4>
		<p>Elisabeth Sanchez received her Bachelor degree of
			Science in Computer Science, and also majored in
			Accounting from Jersey City State University. 
			Certified with Banking and Insurance &mdash; Elisabeth has
			joined Washington J Sanchez &amp; Associates, LLC., in 2005,
			and is currently in charge of managing full charge
			accounting clients, quality control and technical assistance
			for the firm.</p><br>
		<p>Elisabeth is also a managing partner for our technical
			support clients. She is developing her experience in
			the networking area and performs a remarkable technique
			in troubleshooting technical issues.</p><br>
		<p>She is fluent in both languages English and Spanish. She has a tenacious 
			mind for solving problems and will go out of her way to
			help her clients. 
		</p>
</div>
