<%provide(:title, "forms")%>

<div class="row" id="forms">
    <div class="column-offset-1 column-10">
        <h3>Downloaded Forms</h3>
        <ul>
        	<li><a href="https://www.irs.gov/pub/irs-pdf/fw7.pdf" target="_blank">Form -W7</a></li>
        	<li><a href="https://www.irs.gov/pub/irs-pdf/fw4.pdf?portlet=3" target="_blank">Form -W9</a></li>
        	<li><a href="https://www.irs.gov/pub/irs-pdf/fw9.pdf?portlet=3" target="_blank">Form W-4</a></li>
        	<li><a href="https://www.irs.gov/pub/irs-pdf/f2848.pdf" target="_blank">Power of Attorney Form</a></li>
        	<li><a href="https://www.irs.gov/pub/irs-pdf/f9465.pdf" target="_blank">Installment Agreement Request</a></li>
        	<li><a href="https://www.irs.gov/pub/irs-pdf/fss4.pdf?portlet=3" target="_blank">Application for EIN</a></li>
        </ul>
    </div>
</div>