<div class="image">
<img id="home-main-pic" class="object-fit_fill" src="http://jscpagrowth.com/yahoo_site_admin/assets/images/citycolor.13394333_std.jpg">
</div>
<content>
	<p id="main-text">Welcome to Washington Sanchez &amp; Associates, LLC. We provide professional tax preparation services and accounting services at competitive and affordable rates. Our philosophy is to help the community and make your needs our needs.</p>
	<%=render 'layouts/services'%>
</content>

<div class="row">
	<div class="column-6">
		
	</div>
	<div class="column-6">
		<div id="contact-info">
	<h3>Contact Us</h3>
	<p><span>Address:</span>79 Dayton Street, Suite 1, Elizabeth NJ 07202</p>
	<p><span>Tel:</span>(908)469-6874</p>
	<p><span>Fax:</span>(908)248-9393</p>
	<p><span>Email:</span>Javier@jscpagrowth.com</p>
</div>
	</div>
</div> 