<%provide(:title, "payroll")%>

<div class="page-info-box">
	<p>Payroll</p>
</div>
<div class="content-box">
<div id="payroll-content">
	<h3>Why Outsource your Payroll?</h3>
	<p>It's Cost Effective Reduce overhead by removing the need to hire specialized employees.  Worry Free Payroll Tax Filing Eliminate the risks of calculating and filing your own payroll taxes by having professionals do it for you. Federal, state and local payroll tax laws are frequently changing and becoming more complex. How much time do you want to spend learning all the rules and keeping your information up to date?</p>
	<h3>After-the-Fact-Payroll Services</h3>
	<p>We will take your manually- prepared payroll records and other payroll information and post this information to our data files, so you get...

	Worry Free IRS and State tax reporting as well as EFTPS tax deposits.</p>
	<ul>
		<li>User friendly, and easy to understand monthly, quarterly,
	    and annual payroll tax reports, including W-2, W-3 and
	    1099 forms.</li>
		<li>Detailed reports on your employee's vacation, sick days,
	    and personal days accruals.</li>
		<li>    Creation and filing of the required new hire reports.</li>
		<li>Your payroll records maintained in tip top shape.</li>
	</ul>
	<h3>How much do we charge?</h3>
	<p><b>Our prices are very affordable.</b>  In order to give you an accurate price for our payroll services we need to know a little more about your business and what services you are interested in.</p>
</div>
</div>