<%provide(:title, "payroll")%>

<div class="header-img" style="background: url('https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/payroll.jpeg') no-repeat center;background-size:cover">
    <div class="overlay"></div>
    <div class="page-info-tag"><span>Payroll</span></div>
</div>
<div class="content-box">
    <div id="payroll-content">
    	<article><h3>Our payroll knowledge. Your peace of mind.</h3>
        <p>Your job is to run your business and take care of your team. Our job is to make payroll as painless as possible, so you can focus your time on what you want to do.</p></article>
        <h3 style="">Why outsource?</h3>
            <p>Federal, state and local payroll tax laws are frequently changing and becoming more complex. Worry Free Payroll Tax Filing eliminates the risk of inaccurate paperwork and penalty charges.</p>
        <div class="row payroll-icons" >
            <div class="column-4" style="text-align: center;">
                <div>
                <img src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/save-money-logo-teal.png">
                <p>Operate at volume, use sophisticated payroll software, and employ best practices at an affordable price.</p>
                </div>
            </div>
            <div class="column-4" style="text-align: center;">
                <div style="" id="middle">
                <img src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/drop-time-logo-teal.png">
                <p>How much time do you want to spend learning all the rules and keeping your information up-to-date?</p>
                </div>
            </div>
            <div class="column-4" style="text-align: center;">
                <img src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/error-free-logo-teal.png">
                <p>The expertise and resources to complete payroll paperwork accurately and timely.</p>
            </div>
        </div>
    	
    	<article>
        <h3>After-the-fact payroll services</h3>
    	<p>We will take your manually-prepared payroll records and other payroll information, and store this information to our data files, so you get Worry Free IRS, state tax reporting, and EFTPS tax deposits.</p>
    	<ul style="text-align:left;background-color:teal;color:white;padding-top:3em;padding-bottom:3em;">
    		<li>User friendly, and easy to understand monthly, quarterly,
    	    and annual payroll tax reports, including W-2, W-3 and
    	    1099 forms.</li>
    		<li>Detailed reports on your employee's vacation, sick days,
    	    and personal days accruals.</li>
    		<li>    Creation and filing of the required new hire reports.</li>
    		<li>Your payroll records maintained in tip top shape.</li>
    	</ul>
        </article>
    	<h3>How much do we charge?</h3>
    	<p><b>Our prices are very affordable.</b>  In order to give you an accurate price for our payroll services we need to know a little more about your business and what services you are interested in.</p>
    </div>
</div>