<%provide(:title, "services")%>
<div class="page-info-box"><p>Services</p></div>
<div class="content-box main-img">
    <div class="overlay"></div>
    <img src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/business-services.jpeg">
    <p>Our services embrace closely every aspect of financial situations. We are focused in helping individual and business clients by offering personalized and quality service.</p>
</div>
<div class="content-box services">
    <div class="row services">
        <div class="column-6" style="background-color: white;">
            <article id="accounting-services">
            <h3>Business Services</h3>
            <p>We are focused in helping new investors develop accurate techniques to succeed in their business. Our services consist of, but are not limited to IRS/State audit assistance, new businesses formation, dissolutions, legal procedures, acquisitions, loan mitigations and sales. Our firm provides advice and assistance in the following areas:</p>
            <ul>
                <li>General Business Accounting</li>
                <li>Payroll Services, including preparation of 1099Misc, W2’s</li>
                <li>Tax Services ( Business, Individual Income taxesand any other tax related forms)</li>
                <li>Financial Statement Services and CompilationReports</li>
                <li>Full Charge Accounting Services</li>
                <li>New Business Formation and Dissolutions with Tax Clearance</li>
                <li>Public Notary</li>
                <li>Business Logistics</li>
                <li>Financial Consultants on Loan Mitigations</li>
                <li>Write offs, and any Court filings assistanceDesability, Accident Benefits for you and your employees (Minimal to No cost to your company)</li>
            </ul>
            </article>
        </div>
        <div class="column-6" style="background-color:white">
            <article id="accounting-services">
                <h3>Tax Services</h3>
                <p>Washington J. Sanchez and Associates, LLC., we take a proactive approach to tax services. Our experts stay current on changing tax laws and legislation so you don’t have to. We'll identify key tax-planning opportunities that can minimize your current and future tax liabilities and help you put these plans in action throughout the year. Some of our tax services include:</p><br>
                <p>Tax planning and return preparation</p>
                <ul>
                    <li>Individual tax returns</li>
                    <li>Corporation tax</li>
                    <li>Partnerships</li>
                </ul>
            </article>
        </div>
    </div>
</div>

