/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    padding:0;margin: 0;
    background-color:white;
}

.container{
    padding: 1em;
}
.row,
.column{
    box-sizing: border-box;
}
.row{
    margin-bottom: 1em;
}
.row:before, 
.row:after{
    content: "";
    display: table;
}
.row:after{
    clear: both;
}
[class*=column]{
    position: relative;
    float:left;
}
[class*=column] + [class*=column]{
    margin-left: 1.6%;
}
.column-1{
    width: 6.866666667%;
}
.column-2{
    width: 15.3333333333%;
}
.column-3{
    width: 23.8%;
}
.column-4{
    width: 32.2666666667%;
}
.column-5{ 
    width: 40.7333333333%;
}
.column-6{
    width: 49.2%;
}
.column-7{
    width: 57.6666666667%;
}
.column-8{
    width: 66.1333333333%;
}
.column-9{
    width: 74.6%;
}
.column-10{
    width: 83.06666667%;
}
.column-11{
    width: 91.5333333333%;
}
.column-12{
    width:100%;
}
/*offset*/
.column-offset-1{
    margin-left: 8.466666667%;
}
.column-offset-2{
    margin-left: 16.93333333%;
}
.column-offset-3{
    margin-left: 25.4%;
}
.column-offset-4{
    margin-left: 33.866666667%;
}
.column-offset-5{
    margin-left: 42.333333333%;
}
.column-offset-6{
    margin-left: 50.8%;
}
.column-offset-7{
    margin-left: 59.266666667%;
}
.column-offset-8{
    margin-left: 67.733333333%;
}
.column-offset-9{
    margin-left: 76.2%;
}
.column-offset-10{
    margin-left: 84.666666667%;
}
.column-offset-11{
    margin-left: 93.133333333%;
}/*end of my-grid*/
p{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
nav{
	box-sizing: border-box;
    height:3em;
	padding:0;
	width:100%;
	z-index:2;
    position:fixed;
}
nav img{
    width:50px;top:15%;left:2em;position:absolute;
}
#logo-wrapper{
	height: 40px;
	width: 275px;
	box-sizing: border-box;
	float:left;
}
#logo-image{
	height: 50px;
	width: 90px;
	float: left;
	background-image: url('https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/jslogoyellow.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}
#logo-text{
	height: 50px;
	width: 130px;
	float: left;
	font-size: 12px;
	padding-left: 1em;
	padding-top: 5px;
	box-sizing: border-box;
	background-size:white;
}
nav:after {
    content: "";
    display: table;
    clear: both;
}
#menu-btn{
    width:2em;
    height:2em;
    padding:1em 1em 0 1em;
    float:right;
    cursor:pointer;
    position:relative;
}
#menu-btn div {
    background-color:white;
	height: 2px;
	width: 25px;
	position: absolute;
}
#menu-btn div:first-child{
	margin-bottom:0.5em;
}
#menu-btn div:last-child{
	top:1.5em;
}
@keyframes top-parallel{
    0%{
        transform: translateY(0.5em) rotate(135deg);
    }
    100%{
        transform: translateY(0) rotate(0deg);
    }
}
.top-parallel{
    animation-name: top-parallel;
}
@keyframes bottom-parallel{
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.bottom-parallel{
    animation-name: bottom-parallel;
}
@keyframes lean-right{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    100%{
        transform: translateY(0.5em) rotate(135deg);
    }
}
.lean-right{
    animation-name: lean-right;
}
@keyframes lean-left{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}
.lean-left{
    animation-name: lean-left;
}
.animate-btn{
    animation-duration:0.5s;
    animation-fill-mode: both;
}
#desktop-menu{
	display:none;
}
#home-main-pic{
	/* height: 20vh; */
	width: 100%;
	height: 30vw;
}
.object-fill_fill{
	object-fit: fill;
}

.cover{
	width:260px;
	object-fit: cover;
}
#main-text{
	text-align: center;
	padding: 5em 1em;/*padding: 3em 3em*/
	max-width:20em;
	margin:0 auto;
	line-height: 1.7em;
	font-family:arial;
	color: #665d5d;
	font-size:18px;
}
#service-pic{
	margin: 0 auto;
	display: block;
	height:100px;
}
.service-header{
	font-size:20px;
}
.service-description{
	font-size:18px;
}
.service-header, .service-description{
	color: #717171;
	text-align: center;
}
#services{
	background-color: #ECECEC;
	padding: 5em 2em 0 2em;
}
#read-more-btn{
	background-color: #004C80;
	color: white;
	font-family: arial;
	padding: 0.5em;
	font-weight: bold;
	display: block;
	width: 6.2em;
	margin: 5em auto 5em auto;
}
#services .column-4{
	padding-bottom:4em;
}
#contact-info{
	text-align: center;
	padding: 4em 1em;
}
#contact-info p{
	line-height: 1.8em;
	font-size: 17px;
	margin-bottom: 1em;
}
#contact-info h3{
	font-weight: normal;
	color: rgb(113,113,113);
	font-size:25px;
}
.map-contact-wrapper{
	background-color: #ECECEC;
	margin-bottom:0;
}
.btn{
	padding: 1em;
	background-color: #004C80;
	color: white;
	display: block;
	width: 10em;
	margin: 2em auto;
	/* font-size: 15px; */
	font-weight: bold;
	font-family: sans-serif;
}
.communication-row-wrapper{
	margin-top: 4em;margin-bottom: 6em;/*font-size:14px;sdesktop: margin-top,margin-bottom: 3em*/
}
.communication-row-wrapper p{
	font-size:17px;
}
.inner-wrapper{
	width:100%;text-align: center
}
.inner-wrapper div{
	max-width:29em;
	display:block;
	margin:0 auto;
	text-align: center;
	padding: 0em 3em;/*1em*/
	/*padding: 3em 3em; for desktop*/
}
.inner-wrapper.first{
	/*margin-top: 2em;*/
	padding-bottom: 1em;/*0 in non-mobile*/
	border-right:0px;
}
.inner-wrapper.last{
	/*margin-bottom: 5em;*/
	padding-top: 1em;/*0 in non-mobile*/
}
.inner-wrapper h2{
	font-weight: lighter;
	font-size: 1.5em;/*desktop font-size: 2em*/
	font-family: arial;
	color: grey;
}
.inner-wrapper p{
	/*line-height:3em;*/
	line-height: 2em;
}
.inner-wrapper a{
	pointer-events: auto;/*none for desktop*/
}

ul{
	list-style-type: none;
	padding:0;
}
#navigation{
	text-align:center;
	font-size:12px;
}
ul a:link, ul a:visited{
	color:#004C80;
}
#navigation ul li{
	margin-bottom:2em;
}
footer{
	padding: 8em 0 4em 0;
	color:#333333;
}
#copyright{
	text-align: left;
	font-size:11px;
	margin:0 auto;
	width:15em;
}
.header{
	margin-bottom:1.5em;font-size:18px;color:grey
}
#footer-contact p{
	margin-bottom: 1em;
}
#footer-contact {
	font-size:13px;
	max-width :15em;	
	margin:0 auto;
	text-align: center;
}
#navigation, #footer-contact,#copyright{
	margin-bottom:5em;
}
#mobile-menu ul{
	text-align: center;
}
#mobile-menu ul li{
	padding:1em 0;
}

#mobile-menu ul li{
	border-bottom:1px solid #ececec;
}
#mobile-menu ul li:last-child{
	border:none;
}
#map{
	background-color: #F2F2F2;
}
#payroll-content{
	padding-left:1em;
	padding-right:1em;
	padding-bottom:5em;
	line-height: 2em;
}
#payroll-content p{
	color: #333333;
	font-weight:lighter;
}
#payroll-content ul{
	list-style-type: circle;
	padding-left:3em;
	padding-right:1em;
	color:#333333;
}
#forms ul{
	list-style-type: circle;
	padding-left: 2em;
	font-size:15px;
}
#forms{
	padding-left:1em;
	line-height: 2em;
	padding-top:2em;
	padding-bottom: 2em;
	background-color:whitesmoke;
}
.page-info-box{
	background-color:#004C80;
	width:100%;
	height:85vh;/*change to permanent height in desktop*/
	display:table;
}
.page-info-box p{
	color:white;
	font-size:1.5em;
	text-align: center;
	display:table-cell;
	vertical-align: middle;
}
.content-box{
	padding:1em;
	z-index:-2;
	line-height: 1.8em;
	color:#333;
	background-color:white;
}
.content-box h3, .content-box h4{
	text-align: center;
}
.content-box.contact{
    padding-top:5.5em;
    padding-bottom:3em;
}
.content-box.about{
    padding:1em 1.5em 8em 1.5em;
}
#mobile-menu{
    width: 0;
    height:90vh;
	font-family:sans-serif;
	font-weight:bold;
	font-size:21px;
	background-color:white;
    position:absolute;
    z-index: 2;
    right:0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:60px;
    display:block; 
    -webkit-box-shadow: rgba(0,0,0,0.1) -2px 0 2px;
    -moz-box-shadow: rgba(0,0,0,0.1) -2px 0 2px;
    box-shadow: rgba(0,0,0,0.1) -2px 0 2px;
}
.service-box-wrapper{
    padding:0 0em;
}
.service-box-wrapper div{
	width:100%;text-align:center;display:table;height:6em;
}
.service-box-wrapper h3{
	display:table-cell;vertical-align:middle;
}
#accounting-services ul{
	list-style-type: circle;
	margin-left: 3em;
	font-size:14px;
}
#accounting-services{
	padding:3em;
	line-height:1.5em;
	background-color:white;
	font-size:15px;
}
.content-box.services{
	margin-top:0;/*background-color:transparent*/padding:0 0 5em 0;
}
.row.services{
	display: block;
}
/*services page*/
.content-box.main-img{
	padding:0;position:relative;
	margin:0/*10%*/;background-color:transparent;
}
.overlay{
	background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,0.65) 100%);
	position:absolute;
}
.content-box.main-img img, .overlay{
	width:100%;height:207px;
}
.content-box.main-img p{
	position:absolute;padding:0 5%;text-align: center;color:white;top:25%;
}
.contact-info{
	color:#333333;
	text-align: center;
	line-height:2.3em;
	margin-bottom:5em;
}
.contact-info h4{
	margin:0;
	font-size:1.2em;
}
.contact-info img{
	width:60px;
}
.contact-info a{
	color: #004C80;
}
.contact-info a:hover{
	color:#004C80;
}
.row.contact{
	margin-top:4.5em;
}
.logo-style{
	text-align:center;
	padding:1em 0;
	background-color:#72716b;
	color:white;
}
.image{
	position:relative;
	z-index: -3;
}
.page-info-tag{
	position: absolute;
	bottom: 25%;
	width: 100%;
	text-align: center;
	color:white;
	z-index:1;
}
.page-info-tag span{
	font-size:1.5em;
	font-family:sans-serif;
	font-weight:600;
}
#contact-page-info{
    background-color: white;padding-top:4em;padding-bottom:3em;
}
#contact-page-info h3{
    color:#717171;font-size:20px;font-weight:500;text-align:center;padding:2em 1em 0em 1em;margin-top:0;
}
#menu-btn-wrapper{/*prevents change in size when opening & closing menu*/
    width:100%;
    height:3em;
    box-sizing: border-box;
}
#menu-btn-wrapper:after{
    content: "";
    display:table;
    clear:both;
}
.logo-style #header{
    font-size: 30px;
}
.logo-style #subheader{
    font-size:15px;
}
.logo-style #subheader-two{
    font-size:10px;
}
#home-main-image{
    position:relative;
    width:100%;
    height:360px;
    background: url("https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/pexels-photo-275582.jpeg") no-repeat center;
    background-size: cover;
}
#home-main-image .overlay{
    margin:0;height:360px;background:linear-gradient(transparent,rgba(0,0,0,0.4))
}
#home-main-image h1{
    margin:0;text-align:center;color:white;
    padding-top: 3em;font-size:1.5em;
}
#home-main-image h3{
    text-align: center;color:white;
    animation-delay: 0.2s;
    font-size:12px;padding:0 5%;line-height:20px;
    letter-spacing: 0.5px
}
#home-main-image div{
    text-align: center;
    margin-top:20%;
    animation-delay: 0.3s;
}
#home-main-image div span{
    font-size: 12px;
    font-weight:bold;
    margin:1%;
    border:3px solid white;
    background-color:rgba(1,2,3,0.5);
    padding:1em;
    color:white;
    cursor: pointer;
}
@keyframes fadeDown{
    0%{
        opacity:0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@keyframes fadeUp{
    0%{
        opacity:0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -moz-transform: translateY(20px);
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }
}
.fadeUp{
    -webkit-animation-name:fadeUp;
    -moz-animation-name:fadeUp;
    animation-name: fadeUp;
}
.fadeDown{
    -webkit-animation-name:fadeDown;
    -moz-animation-name:fadeDown;
    animation-name:fadeDown;
}
.animate{
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    animation-fill-mode:both;
}
.header-img{
    position:relative;
    height:207px;
    width:100%;
}
.description{
    font-size:18px;text-align:center;line-height:1.8em;color:#717171;padding-bottom:5em;
    min-width:50px;max-width:500px;margin:0 auto;
}
.content-box-no-padding{
	background:white;
	padding-top:5.5em;padding-bottom:3em;
	padding-left:1em;padding-right:1em;
}
@media only screen and (max-width: 650px){/*550px*/
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        width: 100%;
        float: none;
    }

    [class*=column]{
      margin-left: 0;
    }
    [class*=column] + [class*=column]{
    margin-left: 0;
    }
}
@media only screen and (min-width:500px){
    #home-main-image{
        height:450px;
    }
    #home-main-image .overlay{
        height:450px;
    }
    #home-main-image h1{
        padding-top: 20%;font-size:2.2em;margin-left:10%;margin:0 10%;
    }
    #home-main-image h3{
        /*font-weight:lighter;
        font-size:17px;*/
        font-size:15px;padding:0;line-height:24px;letter-spacing: 0.9px;text-shadow:2px 0 black;
    }
    #home-main-image div{
        text-align: center;
        margin-top:10%;
        animation-delay: 0.3s;
    }
    #home-main-image div span{
        font-size: 12px;
        font-weight:bold;
        border:3px solid white;
        background-color:rgba(1,2,3,0.5);
        padding:1em;
        color:white;
    }
    nav img{
        width:80px;
    }
    .header-img{
        position:relative;
        height:300px;
    }
    .overlay{/*huh*/
        height:300px;
    }
    .content-box.about{
        padding:1em 4em 8em 4em;
    }
}
@media only screen and (min-width: 650px){
    .row.services{
    display: -ms-flex; display: -webkit-flex; display:flex;
    }
    .service-box-wrapper{
        padding:0 2em;
    }
    .communication-row-wrapper{
        margin-top: 3em;margin-bottom: 3em;/*desktop: margin-top,margin-bottom: 3em*/
    }
    .inner-wrapper.first{
        padding-bottom: 0;
        border-right:1px solid grey;
    }
    .inner-wrapper.last{
        padding-top: 0;
    }
    .inner-wrapper a{
        pointer-events: none;/*msg and call for desktop*/
    }
    .inner-wrapper.first a{
        pointer-events: auto;
    }
    .logo-style #header{
        font-size: 40px;
    }
    .logo-style #subheader{
        font-size:17px;
    }
    .logo-style #subheader-two{
        font-size:10px;
    }

}
@media only screen and (min-width:700px){
    #home-main-image{
        height:800px;
    }
     #home-main-image .overlay{
        height:800px;
    }
    #home-main-image h1{
        padding-top: 10%;font-size:3.5em;margin-left:10%;margin:0 10%;
    }
    #home-main-image h3{
        font-weight:lighter;
        font-size:18px;
        padding:5% 8% 0 8%;
        line-height:30px;letter-spacing: 1px;
    }
    #home-main-image div{
        text-align: center;
        margin-top:10%;
    }
    #home-main-image div span{/*DRY*/
        font-size: 18px;
        font-weight:500;
        border:3px solid white;
        background-color:rgba(1,2,3,0.5);
        padding:1em;
        color:white;
    }
    .header-img{
        position:relative;
        height:400px;
    }
    .overlay{
        height:400px;
    }
    .description{
        font-size:20px;
    }
    .content-box.about{
        padding:1em 6em 8em 6em;
    }
}

/*larger screens (e.g. desktop)*/
@media only screen and (min-width: 1024px){
	#menu-btn{
		display:none;
	}
	#desktop-menu{
		display:block;
		text-align:center;
		margin-top:1em;
		font-family:sans-serif;
	}
	#desktop-menu a{
		margin:0 2.5em;
		padding-bottom:0.5em;
	}
	#desktop-menu a:link, #desktop-menu a:visited{
		font-size:12px;
		color: white;
	}
	#desktop-menu a:hover{
		border-bottom: 2px solid #004C80;
	}
	.selected{
		border-bottom: 2px solid #004C80;
	}
    #home-main-image h3{
        font-weight:lighter;
        font-size:20px;
        line-height:35px;letter-spacing: 1px;text-shadow:0;
    }
	/*inner wrapper stuff*/
	#footer-contact {
		text-align: left;
	}
	#navigation, #footer-contact,#copyright{
		margin-bottom:0;
	}
	#home-main-pic{
		width: 100%;
		height: 30vw;
	}
	#payroll-content{
		padding-bottom:5.5em;
	}
	#forms ul, #payroll-content{
		font-size:1em;
	}
	.page-info-box{
		height: 20em;
		position:static;
		z-index:-2;
	}
	.page-info-box p{
		font-size:2.5em;
		display:block;
		margin-top:2em;
	}
	.content-box{
		font-size:20px;
		padding:5em 4em 5em 4em;
		margin:0 auto;
		position:relative;
		min-width:0;max-width: 1080px;
		box-sizing: border-box;
	}
	.content-box h3{
		font-size:1.5em;
		font-weight:lighter;
	}
	footer{
		background-color:black;
		padding-top:6em;
	}
	footer a{
		color: #004C80;
	}
	#copyright{
		color: whitesmoke;
	}
	.content-box.main-img{
		margin:-3.7em 3em 3em 3em;
	}
	
	.content-box.main-img img, .overlay{
		height:80vh;
	}
	.content-box.main-img p{
		padding:0 20%;top:40%;
	}
	nav{
		background-color: rgba(0,0,0,0.7);
		padding:0.5em 0.5em 1em 0.5em;
        height:4em;
	}
	.image{
		margin-top: -4.1em;
	}
	.logo-style{
		text-align:center;
		padding:1em 0;
		background-color:#72716b;
		color:white;
	}
	#main-text{
		text-align: center;
		padding: 5em 5em;
		max-width:20em;
		margin:0 auto;
		line-height: 1.7em;
		font-family:arial;
		color: #665d5d;
		font-size:20px;
	}
    .content-box.contact{
        padding-bottom:6em;
    }
    #contact-page-info h3{
        font-size:28px;
    }
    #menu-btn-wrapper{
        display:none;
    }
    #mobile-menu{
        display:none;
    }
    .logo-style #header{
        font-size: 50px;
    }
    .logo-style #subheader{
        font-size:18px;
    }
    .logo-style #subheader-two{
        font-size:12px;
    }
    .header-img{
        position:relative;
        height:510px;
    }
    .overlay{
        height:510px;
    }
    .description{
        font-size:24px;
    }
    .content-box-no-padding{
    	min-width:0;max-width:1080px;padding-left:0;padding-right:0;margin:0 auto;
    }
    .content-box.about{
        padding:5em 6em 8em 6em;
    }
    #accounting-services ul{
        list-style-type: circle;
        margin-left: 3em;
        font-size:18px;
    }
    #accounting-services{
        padding:3em;
        line-height:1.5em;
        font-size:20px;
    }
}
