<footer>
	<div class="row">
        <div class="column-4" id="navigation">
            <p class="header">Navigation</p>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/payroll">Payroll</a></li>
                <li><a href="/forms">Forms</a></li>
                <li><a href="/about_us">About</a></li>
                <li><a href="contact_us">Contact</a></li>
            </ul>
        </div>
        <div class="column-4">
            <div id="footer-contact" >
            <p class="header">Contact Us</p>
            <p><strong>Address:</strong>79 Dayton Street, Suite 1, Elizabeth NJ 07202</p>
            <p><strong>Tel:</strong>(908)469-6874</p>
            <p><strong>Fax:</strong>(908)248-9393</p>
            <p><strong>Email:</strong><a href="mailto:contact@jscpagrowth.com">contact@jscpagrowth.com</a></p>
            </div>
        </div>
        <div class="column-4">
            <p id="copyright">&copy; 2013 Washington J. Sanchez &amp; Associates, LLC. All rights reserved.</p>
        </div>
    </div>
</footer>