
<nav>
    <a href="#"><img src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/wjs-white-logo.svg"></a>
    <div id="menu-btn-wrapper">
        <div id="menu-btn" onclick="toggle()">
            <div class="animate-btn"></div>
            <div class="animate-btn"></div>
        </div>
    </div>

    <span id="desktop-menu">
        <a id="nav-home" href="/home">HOME</a>
        <a id="nav-services" href="/services">SERVICES</a>
        <a id="nav-payroll" href="/payroll">PAYROLL</a>
        <a id="nav-forms" href="/forms">RESOURCES</a>
        <a id="nav-about" href="/about_us">ABOUT</a>
        <a id="nav-contact" href="/contact_us">CONTACT</a>
    </span>
    <div id="mobile-menu" >
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/payroll">Payroll</a></li>
        <li><a href="/forms">Resources</a></li>
        <li><a href="/about_us">About</a></li>
        <li><a href="contact_us">Contact</a></li>        
    </ul>
</div>
</nav>



