<div id="services">
	<div class="row">
		<div class="column-4">
			<div class="service-box-wrapper">
    			<img id="service-pic" src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/pencil.png">
    			<div><h3 class="service-header">Bookkeeping / Payroll Services</h3></div>
    			<p class="service-description">Let us help you so you can do what you do best &mdash; run your business.</p>
			</div>
		</div>
		<div class="column-4">
			<div class="service-box-wrapper">
    			<img id="service-pic" src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/public-notary.png">
    			<div><h3 class="service-header">Public Notary</h3></div>
    			<p class="service-description">Let us help you so you can do what you do best &mdash; run your business.</p>
			</div>
		</div>
		<div class="column-4">
			<div class="service-box-wrapper">
    			<img id="service-pic" src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/money.png">
    			<div><h3 class="service-header">General Business Accounting</h3></div>
    			<p class="service-description">Let us help you so you can do what you do best &mdash; run your business.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column-4">
			<div class="service-box-wrapper">
    			<img id="service-pic" src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/tax.png">
    			<div><h3 class="service-header">Tax Preparation Services</h3></div>
    			<p class="service-description">Let us help you so you can do what you do best &mdash; run your business.</p>
		    </div>
		</div>
		<div class="column-4">
            <div class="service-box-wrapper">
    			<img id="service-pic" src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/logistics.png">
    			<div><h3 class="service-header">Business Logistics</h3></div>
    			<p class="service-description">Let us help you so you can do what you do best &mdash; run your business.</p>
            </div>
		</div>
		<div class="column-4">
            <div class="service-box-wrapper">
			 	<%=link_to "READ MORE", services_path, :method => "get", id: "read-more-btn"%>
            </div>
		</div>
	</div>
</div>