<div id="services">
	<div class="row">
		<div class="column-4">
			<div class="service-box-wrapper">
    			<img id="service-pic" src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/payroll2.png">
    			<div><h3 class="service-header">Bookkeeping / Payroll Services</h3></div>
    			<p class="service-description">Let us help you so you can do what you do best &mdash; run your business.</p>
			</div>
		</div>
		<div class="column-4">
			<div class="service-box-wrapper">
    			<img id="service-pic" src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/genBusAcc.png">
    			<div><h3 class="service-header">General Business Accounting</h3></div>
    			<p class="service-description">We offer sound projections and modeling activities to determine the best course of action for your growing business.</p>
			</div>
		</div>
		<div class="column-4">
			<div class="service-box-wrapper">
    			<img id="service-pic" src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/publicNotary.png">
    			<div style="width:100%;text-align:center;display:table;height:6em;"><h3 style="display:table-cell;vertical-align: middle" class="service-header">Public Notary</h3></div>
    			<p class="service-description">Need your documents notarized? We provide prompt and professional notary public services.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column-4">
			<div class="service-box-wrapper">
    			<img id="service-pic" src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/taxPreparation.png">
    			<div><h3 class="service-header">Tax Preparation Services</h3></div>
    			<p class="service-description">Our attention for detail and promptness ensures the best professional respresentation in all areas of tax compliance.</p>
		    </div>
		</div>
		<div class="column-4">
            <div class="service-box-wrapper">
    			<img id="service-pic" src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/logistics2.png">
    			<div><h3 class="service-header">Business Logistics</h3></div>
    			<p class="service-description">Efficient coordination services to meet your business's projected requirements.</p>
            </div>
		</div>
		<div class="column-4">
            <div class="service-box-wrapper">
			 	<a id="read-more-btn" href="/services">READ MORE</a>
            </div>
		</div>
	</div>
</div>